@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("/assets/fonts/Figtree-VariableFont.woff2") format("woff2");
}

:root {
  --yellow: hsl(47 88% 63%);
  --white: hsl(0 0% 100%);
  --gray-500: hsl(0 0% 42%);
  --gray-950: hsl(0 0% 7%);
  --black: hsl(0 0% 0%);

  --font-sans: "Figtree", sans-serif;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fluid-sm: clamp(var(--fs-xs), 0.7143rem + 0.1786vw, var(--fs-sm));
  --fluid-base: clamp(var(--fs-sm), 0.8393rem + 0.1786vw, var(--fs-base));
  --fluid-lg: clamp(var(--fs-xl), 1.1786rem + 0.3571vw, var(--fs-2xl));
  --fw-md: 500;
  --fw-extrabold: 800;
  --lh: 1.5;

  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-300: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--yellow);
  color: var(--gray-950);
  font-family: var(--font-sans);
  font-size: var(--fluid-base);
  line-height: var(--lh);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-300);
}

.card {
  background-color: var(--white);
  max-width: 24rem;
  padding: var(--space-300);
  border: 1px solid var(--gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0 var(--black);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
}

.card__category {
  background-color: var(--yellow);
  align-self: flex-start;
  padding: var(--space-50) var(--space-150);
  border-radius: var(--space-50);
  font-size: var(--fluid-sm);
  font-weight: var(--fw-extrabold);
}

.card__date {
  font-size: var(--fluid-sm);
  font-weight: var(--fw-md);
}

.card__title {
  font-size: var(--fluid-lg);
  font-weight: var(--fw-extrabold);
}

.card__link {
  text-decoration: none;
  color: inherit;
}

.card__description {
  color: var(--gray-500);
  font-weight: var(--fw-md);
}
