:root {
  --color-yellow: hsl(47 88% 63%);
  --color-white: hsl(0 0% 100%);
  --color-gray-500: hsl(0 0% 42%);
  --color-gray-950: hsl(0 0% 7%);

  --font-family: Figtree, system-ui, sans-serif;

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */

  --font-size-fluid-sm: clamp(
    var(--font-size-xs),
    0.7143rem + 0.1786vw,
    var(--font-size-sm)
  );
  --font-size-fluid-md: clamp(
    var(--font-size-sm),
    0.8393rem + 0.1786vw,
    var(--font-size-md)
  );
  --font-size-fluid-lg: clamp(
    var(--font-size-lg),
    1.1786rem + 0.3571vw,
    var(--font-size-xl)
  );

  --font-weight-md: 500;
  --font-weight-xl: 800;

  --line-height-base: 1.5;
  --letter-spacing-base: 0;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 24px;

  --radius-lg: 20px;
  --radius-sm: 10px;
  --radius-xs: 4px;
}

@font-face {
  font-family: Figtree;
  src:
    url("./assets/fonts/Figtree.woff2") format("woff2"),
    url("./assets/fonts/Figtree.woff2") format("woff2-variations");
  font-weight: 300 900;
}

/* global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-lg);
  color: var(--color-gray-950);
  background-color: var(--color-yellow);
  font-family: var(--font-family);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

/* component styles */

.blog-card {
  background-color: var(--color-white);
  max-width: clamp(20.4375rem, 19.4196rem + 5.0893vw, 24rem);
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-gray-950);
  box-shadow: var(--space-sm) var(--space-sm) 0 0 hsl(0 0% 0%);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  position: relative;
}

.blog-card:hover {
  box-shadow: 14px 14px 0 0 hsl(0, 0%, 0%);
}

.blog-card:focus-within {
  box-shadow: 14px 14px 0 0 hsl(0, 0%, 0%);
}

.blog-card__image {
  height: auto;
  border-radius: var(--radius-sm);
}

.blog-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.blog-card__category {
  background-color: var(--color-yellow);
  width: fit-content;
  padding: var(--space-xs) var(--space-md);
  border-radius: var(--radius-xs);
  font-size: var(--font-size-fluid-sm);
  font-weight: var(--font-weight-xl);
}

.blog-card__date {
  font-size: var(--font-size-fluid-sm);
  font-weight: var(--font-weight-md);
}

.blog-card__title {
  font-size: var(--font-size-fluid-lg);
  font-weight: var(--font-weight-xl);
}

.blog-card__link {
  text-decoration: none;
  color: inherit;
}

.blog-card__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blog-card__link:hover {
  color: var(--color-yellow);
}

.blog-card__link:focus-visible {
  color: var(--color-yellow);
  outline: 3px dashed hsl(0, 0%, 0%);
  outline-offset: 3px;
}

.blog-card__description {
  color: var(--color-gray-500);
  font-size: var(--font-size-fluid-md);
  font-weight: var(--font-weight-md);
}

.blog-card__author {
  display: flex;
  gap: var(--space-md);
  align-items: center;
}

.blog-card__name {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-xl);
}
